.elementor-4198 .elementor-element.elementor-element-503c6e50{--display:flex;--min-height:446px;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--justify-content:center;--align-items:center;--background-transition:0.3s;--overlay-opacity:0.69;}.elementor-4198 .elementor-element.elementor-element-503c6e50:not(.elementor-motion-effects-element-type-background), .elementor-4198 .elementor-element.elementor-element-503c6e50 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#090909;background-image:url("../../2024/02/ali-baba-bg.html");background-position:42px -165px;background-size:cover;}.elementor-4198 .elementor-element.elementor-element-503c6e50::before, .elementor-4198 .elementor-element.elementor-element-503c6e50 > .elementor-background-video-container::before, .elementor-4198 .elementor-element.elementor-element-503c6e50 > .e-con-inner > .elementor-background-video-container::before, .elementor-4198 .elementor-element.elementor-element-503c6e50 > .elementor-background-slideshow::before, .elementor-4198 .elementor-element.elementor-element-503c6e50 > .e-con-inner > .elementor-background-slideshow::before, .elementor-4198 .elementor-element.elementor-element-503c6e50 > .elementor-motion-effects-container > .elementor-motion-effects-layer::before{--background-overlay:'';background-color:#000000;}.elementor-4198 .elementor-element.elementor-element-503c6e50, .elementor-4198 .elementor-element.elementor-element-503c6e50::before{--border-transition:0.3s;}.elementor-4198 .elementor-element.elementor-element-46f5483{text-align:center;width:var( --container-widget-width, 64% );max-width:64%;--container-widget-width:64%;--container-widget-flex-grow:0;}.elementor-4198 .elementor-element.elementor-element-46f5483 .elementor-heading-title{color:var( --e-global-color-dfd67c9 );font-size:52px;font-weight:600;}.elementor-4198 .elementor-element.elementor-element-3f88ec28{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--align-items:center;--background-transition:0.3s;--margin-top:50px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;}.elementor-4198 .elementor-element.elementor-element-44281186{--display:flex;--background-transition:0.3s;}.elementor-4198 .elementor-element.elementor-element-71aa489a img{width:100%;max-width:100%;}.elementor-4198 .elementor-element.elementor-element-58fbc833{--display:flex;--background-transition:0.3s;}.elementor-4198 .elementor-element.elementor-element-665944ed .elementor-heading-title{color:var( --e-global-color-dfd67c9 );font-size:35px;font-weight:600;}.elementor-4198 .elementor-element.elementor-element-329235f7{color:#DDDDDD;font-family:"Verdana", Sans-serif;font-size:16px;font-weight:400;}.elementor-4198 .elementor-element.elementor-element-329235f7 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-4198 .elementor-element.elementor-element-16d54cd > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-4198 .elementor-element.elementor-element-2a1596a7{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--align-items:center;--background-transition:0.3s;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;}.elementor-4198 .elementor-element.elementor-element-749c350b{--display:flex;--background-transition:0.3s;}.elementor-4198 .elementor-element.elementor-element-6dd23468 .elementor-heading-title{color:var( --e-global-color-dfd67c9 );font-size:35px;font-weight:600;}.elementor-4198 .elementor-element.elementor-element-38e7d076 > .elementor-widget-container{margin:8px 0px 0px 0px;}.elementor-4198 .elementor-element.elementor-element-76703946{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--align-items:center;--background-transition:0.3s;--margin-top:50px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;}.elementor-4198 .elementor-element.elementor-element-7f1dc90c{--display:flex;--background-transition:0.3s;}.elementor-4198 .elementor-element.elementor-element-3073f9e3 .elementor-heading-title{color:var( --e-global-color-dfd67c9 );font-size:35px;font-weight:600;}.elementor-4198 .elementor-element.elementor-element-18ee2dbe{color:#DDDDDD;font-family:"Verdana", Sans-serif;font-size:16px;font-weight:400;}.elementor-4198 .elementor-element.elementor-element-18ee2dbe > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-4198 .elementor-element.elementor-element-d1c3ab6{text-align:left;}.elementor-4198 .elementor-element.elementor-element-d1c3ab6 img{width:100%;}.elementor-4198 .elementor-element.elementor-element-a63f0f7{color:#DDDDDD;font-family:"Verdana", Sans-serif;font-size:16px;font-weight:400;}.elementor-4198 .elementor-element.elementor-element-a63f0f7 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-4198 .elementor-element.elementor-element-0f4519f{color:#DDDDDD;font-family:"Verdana", Sans-serif;font-size:16px;font-weight:400;}.elementor-4198 .elementor-element.elementor-element-0f4519f > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-4198 .elementor-element.elementor-element-2b273d14{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--align-items:center;--background-transition:0.3s;--margin-top:50px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;}.elementor-4198 .elementor-element.elementor-element-2df60625{--display:flex;--background-transition:0.3s;}.elementor-4198 .elementor-element.elementor-element-1dd0c857{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--justify-content:center;--align-items:center;--background-transition:0.3s;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-4198 .elementor-element.elementor-element-1c308ef6{--display:flex;--background-transition:0.3s;}.elementor-4198 .elementor-element.elementor-element-5a5e573 .elementor-heading-title{color:var( --e-global-color-dfd67c9 );font-size:28px;font-weight:600;}.elementor-4198 .elementor-element.elementor-element-67d25cb0{color:#DDDDDD;font-family:"Verdana", Sans-serif;font-size:16px;font-weight:400;}.elementor-4198 .elementor-element.elementor-element-67d25cb0 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-4198 .elementor-element.elementor-element-25bb7fc > .elementor-widget-container{margin:8px 0px 0px 0px;}.elementor-4198 .elementor-element.elementor-element-1365ae15{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--align-items:center;--background-transition:0.3s;--margin-top:50px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;}.elementor-4198 .elementor-element.elementor-element-1365ae15.e-con{--flex-grow:0;--flex-shrink:0;}.elementor-4198 .elementor-element.elementor-element-1e394213{--display:flex;--background-transition:0.3s;}.elementor-4198 .elementor-element.elementor-element-628b2ed0 .elementor-heading-title{color:var( --e-global-color-dfd67c9 );font-size:35px;font-weight:600;}.elementor-4198 .elementor-element.elementor-element-4f095949{color:#DDDDDD;font-family:"Verdana", Sans-serif;font-size:16px;font-weight:400;}.elementor-4198 .elementor-element.elementor-element-4f095949 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-4198 .elementor-element.elementor-element-f5a69a6{color:#DDDDDD;font-family:"Verdana", Sans-serif;font-size:16px;font-weight:400;}.elementor-4198 .elementor-element.elementor-element-f5a69a6 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-4198 .elementor-element.elementor-element-773e2bc9{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--align-items:center;--background-transition:0.3s;--margin-top:50px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;}.elementor-4198 .elementor-element.elementor-element-26023244{--display:flex;--background-transition:0.3s;}.elementor-4198 .elementor-element.elementor-element-29d00b54 .elementor-heading-title{color:var( --e-global-color-dfd67c9 );font-size:35px;font-weight:600;}.elementor-4198 .elementor-element.elementor-element-10c3f331{color:#DDDDDD;font-family:"Verdana", Sans-serif;font-size:16px;font-weight:400;}.elementor-4198 .elementor-element.elementor-element-10c3f331 > .elementor-widget-container{margin:0px 0px 0px 0px;}body.elementor-page-4198:not(.elementor-motion-effects-element-type-background), body.elementor-page-4198 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#090909;}@media(min-width:768px){.elementor-4198 .elementor-element.elementor-element-3f88ec28{--content-width:1265px;}.elementor-4198 .elementor-element.elementor-element-44281186{--width:67%;}.elementor-4198 .elementor-element.elementor-element-2a1596a7{--content-width:1265px;}.elementor-4198 .elementor-element.elementor-element-76703946{--content-width:1265px;}.elementor-4198 .elementor-element.elementor-element-2b273d14{--content-width:1265px;}.elementor-4198 .elementor-element.elementor-element-1365ae15{--content-width:1265px;}.elementor-4198 .elementor-element.elementor-element-773e2bc9{--content-width:1265px;}}@media(max-width:1024px){.elementor-4198 .elementor-element.elementor-element-503c6e50:not(.elementor-motion-effects-element-type-background), .elementor-4198 .elementor-element.elementor-element-503c6e50 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-position:0px 0px;}}@media(max-width:767px){.elementor-4198 .elementor-element.elementor-element-503c6e50{--min-height:215px;}.elementor-4198 .elementor-element.elementor-element-503c6e50:not(.elementor-motion-effects-element-type-background), .elementor-4198 .elementor-element.elementor-element-503c6e50 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-position:center center;}.elementor-4198 .elementor-element.elementor-element-46f5483 .elementor-heading-title{font-size:24px;}.elementor-4198 .elementor-element.elementor-element-46f5483{--container-widget-width:1000px;--container-widget-flex-grow:0;width:var( --container-widget-width, 1000px );max-width:1000px;}.elementor-4198 .elementor-element.elementor-element-665944ed .elementor-heading-title{font-size:30px;}.elementor-4198 .elementor-element.elementor-element-6dd23468 .elementor-heading-title{font-size:22px;}.elementor-4198 .elementor-element.elementor-element-3073f9e3 .elementor-heading-title{font-size:22px;}.elementor-4198 .elementor-element.elementor-element-d1c3ab6 img{width:85%;}.elementor-4198 .elementor-element.elementor-element-1dd0c857{--gap:0px 0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-4198 .elementor-element.elementor-element-1c308ef6{--margin-top:110px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-4198 .elementor-element.elementor-element-5a5e573 .elementor-heading-title{font-size:22px;}.elementor-4198 .elementor-element.elementor-element-1e394213{--gap:0px 0px;}.elementor-4198 .elementor-element.elementor-element-628b2ed0 .elementor-heading-title{font-size:22px;}.elementor-4198 .elementor-element.elementor-element-4f095949 > .elementor-widget-container{margin:8px 0px 0px 0px;}.elementor-4198 .elementor-element.elementor-element-f5a69a6 > .elementor-widget-container{margin:8px 0px 0px 0px;}.elementor-4198 .elementor-element.elementor-element-29d00b54 .elementor-heading-title{font-size:22px;}}/* Start custom CSS for html, class: .elementor-element-16d54cd */.elementor-4198 .elementor-element.elementor-element-16d54cd button{
   background: rgb(255,144,0);
background: linear-gradient(0deg, rgba(255,144,0,1) 0%, rgba(255,174,0,1) 100%);
color: #000;
padding: 0;
width: 9rem;
height: 3rem;
font-size: 20px;
font-weight: 600;
box-shadow: 1px 1px 5px 6px rgba(255,144,0,0.12);
-webkit-box-shadow: 1px 1px 5px 6px rgba(255,144,0,0.12);
-moz-box-shadow: 1px 1px 5px 6px rgba(255,144,0,0.12);
}


.elementor-4198 .elementor-element.elementor-element-16d54cd button:hover{
    background: linear-gradient(180deg, rgba(255,144,0,1) 0%, rgba(255,174,0,1) 100%);
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-38e7d076 */.elementor-4198 .elementor-element.elementor-element-38e7d076 table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  

  
.elementor-4198 .elementor-element.elementor-element-38e7d076   table tr {
    /*background-color: #f8f8f8;*/
    border: 1px solid #ddd;
    padding: .35em;
    font-weight: 500;
      color:  #FFFFFF;
  }
  
.elementor-4198 .elementor-element.elementor-element-38e7d076   table th,
.elementor-4198 .elementor-element.elementor-element-38e7d076   table td {
    padding: .625em;
    text-align: center;
    
  }
  
.elementor-4198 .elementor-element.elementor-element-38e7d076   table th {
    font-size: 1em;
    letter-spacing: .1em;
    text-transform: uppercase;
      font-weight: 600 !important;
  }
  
  @media screen and (max-width: 600px) {
  .elementor-4198 .elementor-element.elementor-element-38e7d076   table {
      border: 0;
    }
  
 
    
   .elementor-4198 .elementor-element.elementor-element-38e7d076  table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
  .elementor-4198 .elementor-element.elementor-element-38e7d076   table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
  .elementor-4198 .elementor-element.elementor-element-38e7d076   table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 1em;
      text-align: right;
    }
    
 .elementor-4198 .elementor-element.elementor-element-38e7d076    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      font-weight: 600 !important;
        color:  #FFA200;
    }
    
 .elementor-4198 .elementor-element.elementor-element-38e7d076    table td:last-child {
      border-bottom: 0;
    }
  }
  
  
  
  
  /* general styling */
.elementor-4198 .elementor-element.elementor-element-38e7d076   body {
    font-family: "Kumbh sans ", sans-serif;
    line-height: 1.25;
    font-weight: 600 !important;
  
  }/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-25bb7fc */.elementor-4198 .elementor-element.elementor-element-25bb7fc table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  

  

  
.elementor-4198 .elementor-element.elementor-element-25bb7fc   table tr {
    /*background-color: #f8f8f8;*/
    border: 1px solid #ddd;
    padding: .35em;
    font-weight: 500;
      color:  #FFFFFF;
  }
  
.elementor-4198 .elementor-element.elementor-element-25bb7fc   table th,
.elementor-4198 .elementor-element.elementor-element-25bb7fc   table td {
    padding: .625em;
    text-align: center;
    
  }
  
.elementor-4198 .elementor-element.elementor-element-25bb7fc   table th {
    font-size: 1em;
    letter-spacing: .1em;
    text-transform: uppercase;
      font-weight: 600 !important;
  }
  
.elementor-4198 .elementor-element.elementor-element-25bb7fc td img{
    margin-right: 16px;
}
  
  @media screen and (max-width: 600px) {
  .elementor-4198 .elementor-element.elementor-element-25bb7fc   table {
      border: 0;
    }
    
    .elementor-4198 .elementor-element.elementor-element-25bb7fc td img{
    margin-right: 16px;
    width: 120px;
}
  
  .elementor-4198 .elementor-element.elementor-element-25bb7fc .img-data-label {
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 20px; 
}

  .elementor-4198 .elementor-element.elementor-element-25bb7fc .data-label1 {
  background-image: url('../../2024/04/symbol_05.html');
  
}

  .elementor-4198 .elementor-element.elementor-element-25bb7fc .data-label2 {
  background-image: url('../../2024/04/symbol_06.html');
  
}

.elementor-4198 .elementor-element.elementor-element-25bb7fc .data-label3 {
  background-image: url('../../2024/04/symbol_07.html');
  
}

.elementor-4198 .elementor-element.elementor-element-25bb7fc .data-label4 {
  background-image: url('../../2024/04/symbol_08.html');
  
}
 
 
    
   .elementor-4198 .elementor-element.elementor-element-25bb7fc  table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
  .elementor-4198 .elementor-element.elementor-element-25bb7fc   table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
  .elementor-4198 .elementor-element.elementor-element-25bb7fc   table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 1em;
      text-align: center;
    }
    
 .elementor-4198 .elementor-element.elementor-element-25bb7fc    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      font-weight: 600 !important;
        color:  #FFA200;
    }
    
 .elementor-4198 .elementor-element.elementor-element-25bb7fc    table td:last-child {
      border-bottom: 0;
    }
  }
  
  
  
  
  /* general styling */
.elementor-4198 .elementor-element.elementor-element-25bb7fc   body {
    font-family: "Kumbh sans ", sans-serif;
    line-height: 1.25;
    font-weight: 600 !important;
  
  }/* End custom CSS */