.elementor-4250 .elementor-element.elementor-element-22fba990{--display:flex;--min-height:446px;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--justify-content:center;--align-items:center;--background-transition:0.3s;--overlay-opacity:0.69;}.elementor-4250 .elementor-element.elementor-element-22fba990:not(.elementor-motion-effects-element-type-background), .elementor-4250 .elementor-element.elementor-element-22fba990 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#090909;background-image:url("../../2024/02/ali-baba-bg.html");background-position:42px -165px;background-size:cover;}.elementor-4250 .elementor-element.elementor-element-22fba990::before, .elementor-4250 .elementor-element.elementor-element-22fba990 > .elementor-background-video-container::before, .elementor-4250 .elementor-element.elementor-element-22fba990 > .e-con-inner > .elementor-background-video-container::before, .elementor-4250 .elementor-element.elementor-element-22fba990 > .elementor-background-slideshow::before, .elementor-4250 .elementor-element.elementor-element-22fba990 > .e-con-inner > .elementor-background-slideshow::before, .elementor-4250 .elementor-element.elementor-element-22fba990 > .elementor-motion-effects-container > .elementor-motion-effects-layer::before{--background-overlay:'';background-color:#000000;}.elementor-4250 .elementor-element.elementor-element-22fba990, .elementor-4250 .elementor-element.elementor-element-22fba990::before{--border-transition:0.3s;}.elementor-4250 .elementor-element.elementor-element-f35600e{text-align:center;width:var( --container-widget-width, 64% );max-width:64%;--container-widget-width:64%;--container-widget-flex-grow:0;}.elementor-4250 .elementor-element.elementor-element-f35600e .elementor-heading-title{color:var( --e-global-color-dfd67c9 );font-size:52px;font-weight:600;}.elementor-4250 .elementor-element.elementor-element-6640a82f{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--align-items:center;--background-transition:0.3s;--margin-top:50px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;}.elementor-4250 .elementor-element.elementor-element-22c7063d{--display:flex;--background-transition:0.3s;}.elementor-4250 .elementor-element.elementor-element-f471106 img{width:100%;max-width:100%;}.elementor-4250 .elementor-element.elementor-element-4ad35e07{--display:flex;--background-transition:0.3s;}.elementor-4250 .elementor-element.elementor-element-4627b6d3 .elementor-heading-title{color:var( --e-global-color-dfd67c9 );font-size:35px;font-weight:600;}.elementor-4250 .elementor-element.elementor-element-65282ec8{color:#DDDDDD;font-family:"Verdana", Sans-serif;font-size:16px;font-weight:400;}.elementor-4250 .elementor-element.elementor-element-65282ec8 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-4250 .elementor-element.elementor-element-a3d1efa > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-4250 .elementor-element.elementor-element-1376cab5{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--align-items:center;--background-transition:0.3s;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;}.elementor-4250 .elementor-element.elementor-element-fcbdec8{--display:flex;--background-transition:0.3s;}.elementor-4250 .elementor-element.elementor-element-52fac7e3 .elementor-heading-title{color:var( --e-global-color-dfd67c9 );font-size:35px;font-weight:600;}.elementor-4250 .elementor-element.elementor-element-068db97 > .elementor-widget-container{margin:8px 0px 0px 0px;}.elementor-4250 .elementor-element.elementor-element-550d9c06{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--align-items:center;--background-transition:0.3s;--margin-top:50px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;}.elementor-4250 .elementor-element.elementor-element-30b54f17{--display:flex;--background-transition:0.3s;}.elementor-4250 .elementor-element.elementor-element-24fb7355 .elementor-heading-title{color:var( --e-global-color-dfd67c9 );font-size:35px;font-weight:600;}.elementor-4250 .elementor-element.elementor-element-c98ead3{color:#DDDDDD;font-family:"Verdana", Sans-serif;font-size:16px;font-weight:400;}.elementor-4250 .elementor-element.elementor-element-c98ead3 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-4250 .elementor-element.elementor-element-401da001{color:#DDDDDD;font-family:"Verdana", Sans-serif;font-size:16px;font-weight:400;}.elementor-4250 .elementor-element.elementor-element-401da001 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-4250 .elementor-element.elementor-element-103432f{color:#DDDDDD;font-family:"Verdana", Sans-serif;font-size:16px;font-weight:400;}.elementor-4250 .elementor-element.elementor-element-103432f > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-4250 .elementor-element.elementor-element-995f02c{text-align:left;}.elementor-4250 .elementor-element.elementor-element-995f02c img{width:27%;}.elementor-4250 .elementor-element.elementor-element-28a078f{color:#DDDDDD;font-family:"Verdana", Sans-serif;font-size:16px;font-weight:400;}.elementor-4250 .elementor-element.elementor-element-28a078f > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-4250 .elementor-element.elementor-element-a6cd52d{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--background-transition:0.3s;}.elementor-4250 .elementor-element.elementor-element-bedc942{text-align:left;}.elementor-4250 .elementor-element.elementor-element-bedc942 img{width:100%;}.elementor-4250 .elementor-element.elementor-element-675a20f{text-align:left;}.elementor-4250 .elementor-element.elementor-element-675a20f img{width:100%;}.elementor-4250 .elementor-element.elementor-element-f651f35{text-align:left;}.elementor-4250 .elementor-element.elementor-element-f651f35 img{width:100%;}.elementor-4250 .elementor-element.elementor-element-cbf4894{text-align:left;}.elementor-4250 .elementor-element.elementor-element-cbf4894 img{width:100%;}.elementor-4250 .elementor-element.elementor-element-299fa356{color:#DDDDDD;font-family:"Verdana", Sans-serif;font-size:16px;font-weight:400;}.elementor-4250 .elementor-element.elementor-element-299fa356 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-4250 .elementor-element.elementor-element-21f2c6d0{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--align-items:center;--background-transition:0.3s;--margin-top:50px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;}.elementor-4250 .elementor-element.elementor-element-11747be1{--display:flex;--background-transition:0.3s;}.elementor-4250 .elementor-element.elementor-element-7614d60a{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--justify-content:center;--align-items:center;--background-transition:0.3s;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-4250 .elementor-element.elementor-element-bd937c7{--display:flex;--background-transition:0.3s;}.elementor-4250 .elementor-element.elementor-element-585870bf .elementor-heading-title{color:var( --e-global-color-dfd67c9 );font-size:28px;font-weight:600;}.elementor-4250 .elementor-element.elementor-element-d703dc4{color:#DDDDDD;font-family:"Verdana", Sans-serif;font-size:16px;font-weight:400;}.elementor-4250 .elementor-element.elementor-element-d703dc4 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-4250 .elementor-element.elementor-element-44d4d79 > .elementor-widget-container{margin:8px 0px 0px 0px;}.elementor-4250 .elementor-element.elementor-element-476042cb{color:#DDDDDD;font-family:"Verdana", Sans-serif;font-size:16px;font-weight:400;}.elementor-4250 .elementor-element.elementor-element-476042cb > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-4250 .elementor-element.elementor-element-2460b57c{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--align-items:center;--background-transition:0.3s;--margin-top:50px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;}.elementor-4250 .elementor-element.elementor-element-2460b57c.e-con{--flex-grow:0;--flex-shrink:0;}.elementor-4250 .elementor-element.elementor-element-375d2893{--display:flex;--background-transition:0.3s;}.elementor-4250 .elementor-element.elementor-element-e725951 .elementor-heading-title{color:var( --e-global-color-dfd67c9 );font-size:35px;font-weight:600;}.elementor-4250 .elementor-element.elementor-element-62c04504{color:#DDDDDD;font-family:"Verdana", Sans-serif;font-size:16px;font-weight:400;}.elementor-4250 .elementor-element.elementor-element-62c04504 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-4250 .elementor-element.elementor-element-83ac0b6 .elementor-heading-title{color:var( --e-global-color-dfd67c9 );font-size:28px;font-weight:600;}.elementor-4250 .elementor-element.elementor-element-dce2cf5{color:#DDDDDD;font-family:"Verdana", Sans-serif;font-size:16px;font-weight:400;}.elementor-4250 .elementor-element.elementor-element-dce2cf5 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-4250 .elementor-element.elementor-element-6e8ec1ee{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--align-items:center;--background-transition:0.3s;--margin-top:50px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;}.elementor-4250 .elementor-element.elementor-element-1e099090{--display:flex;--background-transition:0.3s;}.elementor-4250 .elementor-element.elementor-element-76aa4f3a .elementor-heading-title{color:var( --e-global-color-dfd67c9 );font-size:28px;font-weight:600;}.elementor-4250 .elementor-element.elementor-element-282d6e58{color:#DDDDDD;font-family:"Verdana", Sans-serif;font-size:16px;font-weight:400;}.elementor-4250 .elementor-element.elementor-element-282d6e58 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-4250 .elementor-element.elementor-element-626b9db1 img{width:44%;}.elementor-4250 .elementor-element.elementor-element-728fec5{color:#DDDDDD;font-family:"Verdana", Sans-serif;font-size:16px;font-weight:400;}.elementor-4250 .elementor-element.elementor-element-728fec5 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-4250 .elementor-element.elementor-element-af22c79{color:#DDDDDD;font-family:"Verdana", Sans-serif;font-size:16px;font-weight:400;}.elementor-4250 .elementor-element.elementor-element-af22c79 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-4250 .elementor-element.elementor-element-3d92139{color:#DDDDDD;font-family:"Verdana", Sans-serif;font-size:16px;font-weight:400;}.elementor-4250 .elementor-element.elementor-element-3d92139 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-4250 .elementor-element.elementor-element-390aba35{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--align-items:center;--background-transition:0.3s;--margin-top:50px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;}.elementor-4250 .elementor-element.elementor-element-3cb89c2c{--display:flex;--background-transition:0.3s;}.elementor-4250 .elementor-element.elementor-element-3ce05ceb .elementor-heading-title{color:var( --e-global-color-dfd67c9 );font-size:35px;font-weight:600;}.elementor-4250 .elementor-element.elementor-element-66bcb80e{color:#DDDDDD;font-family:"Verdana", Sans-serif;font-size:16px;font-weight:400;}.elementor-4250 .elementor-element.elementor-element-66bcb80e > .elementor-widget-container{margin:0px 0px 0px 0px;}body.elementor-page-4250:not(.elementor-motion-effects-element-type-background), body.elementor-page-4250 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#090909;}@media(min-width:768px){.elementor-4250 .elementor-element.elementor-element-6640a82f{--content-width:1265px;}.elementor-4250 .elementor-element.elementor-element-22c7063d{--width:67%;}.elementor-4250 .elementor-element.elementor-element-1376cab5{--content-width:1265px;}.elementor-4250 .elementor-element.elementor-element-550d9c06{--content-width:1265px;}.elementor-4250 .elementor-element.elementor-element-21f2c6d0{--content-width:1265px;}.elementor-4250 .elementor-element.elementor-element-2460b57c{--content-width:1265px;}.elementor-4250 .elementor-element.elementor-element-6e8ec1ee{--content-width:1265px;}.elementor-4250 .elementor-element.elementor-element-390aba35{--content-width:1265px;}}@media(max-width:1024px){.elementor-4250 .elementor-element.elementor-element-22fba990:not(.elementor-motion-effects-element-type-background), .elementor-4250 .elementor-element.elementor-element-22fba990 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-position:0px 0px;}}@media(max-width:767px){.elementor-4250 .elementor-element.elementor-element-22fba990{--min-height:215px;}.elementor-4250 .elementor-element.elementor-element-22fba990:not(.elementor-motion-effects-element-type-background), .elementor-4250 .elementor-element.elementor-element-22fba990 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-position:center center;}.elementor-4250 .elementor-element.elementor-element-f35600e .elementor-heading-title{font-size:24px;}.elementor-4250 .elementor-element.elementor-element-f35600e{--container-widget-width:1000px;--container-widget-flex-grow:0;width:var( --container-widget-width, 1000px );max-width:1000px;}.elementor-4250 .elementor-element.elementor-element-4627b6d3 .elementor-heading-title{font-size:30px;}.elementor-4250 .elementor-element.elementor-element-52fac7e3 .elementor-heading-title{font-size:22px;}.elementor-4250 .elementor-element.elementor-element-24fb7355 .elementor-heading-title{font-size:22px;}.elementor-4250 .elementor-element.elementor-element-995f02c img{width:85%;}.elementor-4250 .elementor-element.elementor-element-995f02c > .elementor-widget-container{margin:0px 0px 126px 0px;}.elementor-4250 .elementor-element.elementor-element-bedc942 img{width:85%;}.elementor-4250 .elementor-element.elementor-element-675a20f img{width:85%;}.elementor-4250 .elementor-element.elementor-element-f651f35 img{width:85%;}.elementor-4250 .elementor-element.elementor-element-cbf4894 img{width:85%;}.elementor-4250 .elementor-element.elementor-element-7614d60a{--gap:0px 0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-4250 .elementor-element.elementor-element-bd937c7{--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-4250 .elementor-element.elementor-element-585870bf .elementor-heading-title{font-size:22px;}.elementor-4250 .elementor-element.elementor-element-476042cb > .elementor-widget-container{margin:8px 0px 0px 0px;}.elementor-4250 .elementor-element.elementor-element-375d2893{--gap:0px 0px;}.elementor-4250 .elementor-element.elementor-element-e725951 .elementor-heading-title{font-size:22px;}.elementor-4250 .elementor-element.elementor-element-62c04504 > .elementor-widget-container{margin:8px 0px 0px 0px;}.elementor-4250 .elementor-element.elementor-element-8a33e1f > .elementor-widget-container{margin:16px 0px 16px 0px;}.elementor-4250 .elementor-element.elementor-element-83ac0b6 .elementor-heading-title{font-size:22px;}.elementor-4250 .elementor-element.elementor-element-dce2cf5 > .elementor-widget-container{margin:8px 0px 0px 0px;}.elementor-4250 .elementor-element.elementor-element-76aa4f3a .elementor-heading-title{font-size:22px;}.elementor-4250 .elementor-element.elementor-element-626b9db1 img{width:100%;}.elementor-4250 .elementor-element.elementor-element-3ce05ceb .elementor-heading-title{font-size:22px;}}/* Start custom CSS for html, class: .elementor-element-a3d1efa */.elementor-4250 .elementor-element.elementor-element-a3d1efa button{
   background: rgb(255,144,0);
background: linear-gradient(0deg, rgba(255,144,0,1) 0%, rgba(255,174,0,1) 100%);
color: #000;
padding: 0;
width: 9rem;
height: 3rem;
font-size: 20px;
font-weight: 600;
box-shadow: 1px 1px 5px 6px rgba(255,144,0,0.12);
-webkit-box-shadow: 1px 1px 5px 6px rgba(255,144,0,0.12);
-moz-box-shadow: 1px 1px 5px 6px rgba(255,144,0,0.12);
}


.elementor-4250 .elementor-element.elementor-element-a3d1efa button:hover{
    background: linear-gradient(180deg, rgba(255,144,0,1) 0%, rgba(255,174,0,1) 100%);
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-068db97 */.elementor-4250 .elementor-element.elementor-element-068db97 table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  

  
.elementor-4250 .elementor-element.elementor-element-068db97   table tr {
    /*background-color: #f8f8f8;*/
    border: 1px solid #ddd;
    padding: .35em;
    font-weight: 500;
      color:  #FFFFFF;
  }
  
.elementor-4250 .elementor-element.elementor-element-068db97   table th,
.elementor-4250 .elementor-element.elementor-element-068db97   table td {
    padding: .625em;
    text-align: center;
    
  }
  
.elementor-4250 .elementor-element.elementor-element-068db97   table th {
    font-size: 1em;
    letter-spacing: .1em;
    text-transform: uppercase;
      font-weight: 600 !important;
  }
  
  @media screen and (max-width: 600px) {
  .elementor-4250 .elementor-element.elementor-element-068db97   table {
      border: 0;
    }
  
 
    
   .elementor-4250 .elementor-element.elementor-element-068db97  table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
  .elementor-4250 .elementor-element.elementor-element-068db97   table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
  .elementor-4250 .elementor-element.elementor-element-068db97   table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 1em;
      text-align: right;
    }
    
 .elementor-4250 .elementor-element.elementor-element-068db97    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      font-weight: 600 !important;
        color:  #FFA200;
    }
    
 .elementor-4250 .elementor-element.elementor-element-068db97    table td:last-child {
      border-bottom: 0;
    }
  }
  
  
  
  
  /* general styling */
.elementor-4250 .elementor-element.elementor-element-068db97   body {
    font-family: "Kumbh sans ", sans-serif;
    line-height: 1.25;
    font-weight: 600 !important;
  
  }/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-44d4d79 */.elementor-4250 .elementor-element.elementor-element-44d4d79 table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
 
  }
  
.elementor-4250 .elementor-element.elementor-element-44d4d79  thead {
  display: flex;
  justify-content: center;
  width: 100%;
position: relative;
}

.elementor-4250 .elementor-element.elementor-element-44d4d79  thead tr{
    /*border: none !important;*/
    width: 100%;
    display: flex;
     justify-content: center;
}

.elementor-4250 .elementor-element.elementor-element-44d4d79 .top-thead{
    border: none;
   
}

  
  


  .elementor-4250 .elementor-element.elementor-element-44d4d79 p{
      margin: 0;
  }

  
.elementor-4250 .elementor-element.elementor-element-44d4d79   table tr {
    /*background-color: #f8f8f8;*/
    border: 1px solid #ddd;
    padding: .35em;
    font-weight: 500;
      color:  #FFFFFF;
  }
  
.elementor-4250 .elementor-element.elementor-element-44d4d79   table th,
.elementor-4250 .elementor-element.elementor-element-44d4d79   table td {
    padding: .625em;
    text-align: center;
    
  }
  
.elementor-4250 .elementor-element.elementor-element-44d4d79   table th {
    font-size: 1em;
    letter-spacing: .1em;
    text-transform: uppercase;
      font-weight: 600 !important;
  }
  
.elementor-4250 .elementor-element.elementor-element-44d4d79 td img{
    margin-right: 16px;
}
  
  @media screen and (max-width: 600px) {
  .elementor-4250 .elementor-element.elementor-element-44d4d79   table {
      border: 0;
    }
  
  .elementor-4250 .elementor-element.elementor-element-44d4d79 .img-data-label {
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 20px; 
}

  .elementor-4250 .elementor-element.elementor-element-44d4d79 .data-label1 {
  background-image: url('../../2024/04/symbol_05.html');
  
}

  .elementor-4250 .elementor-element.elementor-element-44d4d79 .data-label2 {
  background-image: url('../../2024/04/symbol_06.html');
  
}

.elementor-4250 .elementor-element.elementor-element-44d4d79 .data-label3 {
  background-image: url('../../2024/04/symbol_07.html');
  
}

.elementor-4250 .elementor-element.elementor-element-44d4d79 .data-label4 {
  background-image: url('../../2024/04/symbol_08.html');
  
}
 
 
    
   .elementor-4250 .elementor-element.elementor-element-44d4d79  table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
  .elementor-4250 .elementor-element.elementor-element-44d4d79   table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
  .elementor-4250 .elementor-element.elementor-element-44d4d79   table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 1em;
      text-align: center;
    }
    
 .elementor-4250 .elementor-element.elementor-element-44d4d79    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      font-weight: 600 !important;
        color:  #FFA200;
    }
    
 .elementor-4250 .elementor-element.elementor-element-44d4d79    table td:last-child {
      border-bottom: 0;
    }
  }
  
  
  
  
  /* general styling */
.elementor-4250 .elementor-element.elementor-element-44d4d79   body {
    font-family: "Kumbh sans ", sans-serif;
    line-height: 1.25;
    font-weight: 600 !important;
  
  }/* End custom CSS */