.elementor-3793 .elementor-element.elementor-element-72b98ae6{--display:flex;--min-height:446px;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--justify-content:center;--align-items:center;--background-transition:0.3s;--overlay-opacity:0.69;}.elementor-3793 .elementor-element.elementor-element-72b98ae6:not(.elementor-motion-effects-element-type-background), .elementor-3793 .elementor-element.elementor-element-72b98ae6 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#090909;background-image:url("../../2024/02/ali-baba-bg.html");background-position:42px -165px;background-size:cover;}.elementor-3793 .elementor-element.elementor-element-72b98ae6::before, .elementor-3793 .elementor-element.elementor-element-72b98ae6 > .elementor-background-video-container::before, .elementor-3793 .elementor-element.elementor-element-72b98ae6 > .e-con-inner > .elementor-background-video-container::before, .elementor-3793 .elementor-element.elementor-element-72b98ae6 > .elementor-background-slideshow::before, .elementor-3793 .elementor-element.elementor-element-72b98ae6 > .e-con-inner > .elementor-background-slideshow::before, .elementor-3793 .elementor-element.elementor-element-72b98ae6 > .elementor-motion-effects-container > .elementor-motion-effects-layer::before{--background-overlay:'';background-color:#000000;}.elementor-3793 .elementor-element.elementor-element-72b98ae6, .elementor-3793 .elementor-element.elementor-element-72b98ae6::before{--border-transition:0.3s;}.elementor-3793 .elementor-element.elementor-element-eaa2a42{text-align:center;width:var( --container-widget-width, 64% );max-width:64%;--container-widget-width:64%;--container-widget-flex-grow:0;}.elementor-3793 .elementor-element.elementor-element-eaa2a42 .elementor-heading-title{color:var( --e-global-color-dfd67c9 );font-size:52px;font-weight:600;}.elementor-3793 .elementor-element.elementor-element-4eabb2a4{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--align-items:center;--background-transition:0.3s;--margin-top:50px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;}.elementor-3793 .elementor-element.elementor-element-632f9f3c{--display:flex;--background-transition:0.3s;}.elementor-3793 .elementor-element.elementor-element-78540746 img{width:100%;max-width:100%;}.elementor-3793 .elementor-element.elementor-element-6ab08788{--display:flex;--background-transition:0.3s;}.elementor-3793 .elementor-element.elementor-element-70459226 .elementor-heading-title{color:var( --e-global-color-dfd67c9 );font-size:35px;font-weight:600;}.elementor-3793 .elementor-element.elementor-element-d73c4fe{color:#DDDDDD;font-family:"Verdana", Sans-serif;font-size:16px;font-weight:400;}.elementor-3793 .elementor-element.elementor-element-d73c4fe > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-3793 .elementor-element.elementor-element-7e43283 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-3793 .elementor-element.elementor-element-106fc632{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--align-items:center;--background-transition:0.3s;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;}.elementor-3793 .elementor-element.elementor-element-68646e87{--display:flex;--background-transition:0.3s;}.elementor-3793 .elementor-element.elementor-element-55cf0b4 .elementor-heading-title{color:var( --e-global-color-dfd67c9 );font-size:35px;font-weight:600;}.elementor-3793 .elementor-element.elementor-element-c0d16ca > .elementor-widget-container{margin:8px 0px 0px 0px;}.elementor-3793 .elementor-element.elementor-element-7a3ecd83{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--align-items:center;--background-transition:0.3s;--margin-top:50px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;}.elementor-3793 .elementor-element.elementor-element-d91a600{--display:flex;--background-transition:0.3s;}.elementor-3793 .elementor-element.elementor-element-1e772b5 .elementor-heading-title{color:var( --e-global-color-dfd67c9 );font-size:35px;font-weight:600;}.elementor-3793 .elementor-element.elementor-element-bd765ba{color:#DDDDDD;font-family:"Verdana", Sans-serif;font-size:16px;font-weight:400;}.elementor-3793 .elementor-element.elementor-element-bd765ba > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-3793 .elementor-element.elementor-element-2295e18a{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--align-items:center;--background-transition:0.3s;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;}.elementor-3793 .elementor-element.elementor-element-1f5a6bd7{--display:flex;--background-transition:0.3s;}.elementor-3793 .elementor-element.elementor-element-6dd8250e{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--justify-content:center;--align-items:center;--background-transition:0.3s;}.elementor-3793 .elementor-element.elementor-element-588c447a{--display:flex;--background-transition:0.3s;}.elementor-3793 .elementor-element.elementor-element-771b8d16 .elementor-heading-title{color:var( --e-global-color-dfd67c9 );font-size:25px;font-weight:600;}.elementor-3793 .elementor-element.elementor-element-55256a5b{color:#DDDDDD;font-family:"Verdana", Sans-serif;font-size:16px;font-weight:400;}.elementor-3793 .elementor-element.elementor-element-55256a5b > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-3793 .elementor-element.elementor-element-22068bed{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--justify-content:center;--align-items:center;--background-transition:0.3s;}.elementor-3793 .elementor-element.elementor-element-61e62c03{--display:flex;--background-transition:0.3s;}.elementor-3793 .elementor-element.elementor-element-61e62c03.e-con{--flex-grow:0;--flex-shrink:0;}.elementor-3793 .elementor-element.elementor-element-287d7a48 img{width:72%;}.elementor-3793 .elementor-element.elementor-element-4f6c02cd{--display:flex;--background-transition:0.3s;}.elementor-3793 .elementor-element.elementor-element-260cae0c .elementor-heading-title{color:var( --e-global-color-dfd67c9 );font-size:25px;font-weight:600;}.elementor-3793 .elementor-element.elementor-element-687d16ab{color:#DDDDDD;font-family:"Verdana", Sans-serif;font-size:16px;font-weight:400;}.elementor-3793 .elementor-element.elementor-element-687d16ab > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-3793 .elementor-element.elementor-element-5b0e5d1{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--justify-content:flex-start;--align-items:flex-start;--background-transition:0.3s;}.elementor-3793 .elementor-element.elementor-element-058b3b7{color:#DDDDDD;font-family:"Verdana", Sans-serif;font-size:16px;font-weight:400;}.elementor-3793 .elementor-element.elementor-element-058b3b7 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-3793 .elementor-element.elementor-element-39911f8c{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--justify-content:center;--align-items:center;--background-transition:0.3s;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-3793 .elementor-element.elementor-element-689d520c{--display:flex;--background-transition:0.3s;}.elementor-3793 .elementor-element.elementor-element-e14a331 .elementor-heading-title{color:var( --e-global-color-dfd67c9 );font-size:25px;font-weight:600;}.elementor-3793 .elementor-element.elementor-element-357f6d86{color:#DDDDDD;font-family:"Verdana", Sans-serif;font-size:16px;font-weight:400;}.elementor-3793 .elementor-element.elementor-element-357f6d86 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-3793 .elementor-element.elementor-element-868bfc7 > .elementor-widget-container{margin:8px 0px 0px 0px;}.elementor-3793 .elementor-element.elementor-element-f79e118 > .elementor-widget-container{margin:8px 0px 0px 0px;}.elementor-3793 .elementor-element.elementor-element-15d0120 .elementor-heading-title{color:var( --e-global-color-dfd67c9 );font-size:25px;font-weight:600;}.elementor-3793 .elementor-element.elementor-element-adcfbcb{color:#DDDDDD;font-family:"Verdana", Sans-serif;font-size:16px;font-weight:400;}.elementor-3793 .elementor-element.elementor-element-adcfbcb > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-3793 .elementor-element.elementor-element-795d707d{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--align-items:center;--background-transition:0.3s;--margin-top:50px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;}.elementor-3793 .elementor-element.elementor-element-795d707d.e-con{--flex-grow:0;--flex-shrink:0;}.elementor-3793 .elementor-element.elementor-element-435c731{--display:flex;--background-transition:0.3s;}.elementor-3793 .elementor-element.elementor-element-10873317 .elementor-heading-title{color:var( --e-global-color-dfd67c9 );font-size:35px;font-weight:600;}.elementor-3793 .elementor-element.elementor-element-1db92640{color:#DDDDDD;font-family:"Verdana", Sans-serif;font-size:16px;font-weight:400;}.elementor-3793 .elementor-element.elementor-element-1db92640 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-3793 .elementor-element.elementor-element-cd70cce > .elementor-widget-container{margin:8px 0px 0px 0px;}.elementor-3793 .elementor-element.elementor-element-de73a6b > .elementor-widget-container{margin:8px 0px 0px 0px;}.elementor-3793 .elementor-element.elementor-element-31d04ae > .elementor-widget-container{margin:8px 0px 0px 0px;}.elementor-3793 .elementor-element.elementor-element-2b91fcaa{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--align-items:center;--background-transition:0.3s;--margin-top:50px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;}.elementor-3793 .elementor-element.elementor-element-69917b22{--display:flex;--background-transition:0.3s;}.elementor-3793 .elementor-element.elementor-element-5be01583 .elementor-heading-title{color:var( --e-global-color-dfd67c9 );font-size:35px;font-weight:600;}.elementor-3793 .elementor-element.elementor-element-b0b75c8{color:#FFFFFF;font-family:"Verdana", Sans-serif;font-size:16px;font-weight:400;}.elementor-3793 .elementor-element.elementor-element-b0b75c8 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-3793 .elementor-element.elementor-element-03c497f{color:#FFFFFF;font-family:"Verdana", Sans-serif;font-size:16px;font-weight:400;}.elementor-3793 .elementor-element.elementor-element-03c497f > .elementor-widget-container{margin:0px 0px 0px 0px;}body.elementor-page-3793:not(.elementor-motion-effects-element-type-background), body.elementor-page-3793 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#090909;}@media(min-width:768px){.elementor-3793 .elementor-element.elementor-element-4eabb2a4{--content-width:1265px;}.elementor-3793 .elementor-element.elementor-element-632f9f3c{--width:67%;}.elementor-3793 .elementor-element.elementor-element-106fc632{--content-width:1265px;}.elementor-3793 .elementor-element.elementor-element-7a3ecd83{--content-width:1265px;}.elementor-3793 .elementor-element.elementor-element-2295e18a{--content-width:1265px;}.elementor-3793 .elementor-element.elementor-element-61e62c03{--width:25%;}.elementor-3793 .elementor-element.elementor-element-795d707d{--content-width:1265px;}.elementor-3793 .elementor-element.elementor-element-2b91fcaa{--content-width:1265px;}}@media(max-width:1024px){.elementor-3793 .elementor-element.elementor-element-72b98ae6:not(.elementor-motion-effects-element-type-background), .elementor-3793 .elementor-element.elementor-element-72b98ae6 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-position:0px 0px;}}@media(max-width:767px){.elementor-3793 .elementor-element.elementor-element-72b98ae6{--min-height:215px;}.elementor-3793 .elementor-element.elementor-element-72b98ae6:not(.elementor-motion-effects-element-type-background), .elementor-3793 .elementor-element.elementor-element-72b98ae6 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-position:center center;}.elementor-3793 .elementor-element.elementor-element-eaa2a42 .elementor-heading-title{font-size:24px;}.elementor-3793 .elementor-element.elementor-element-eaa2a42{--container-widget-width:1000px;--container-widget-flex-grow:0;width:var( --container-widget-width, 1000px );max-width:1000px;}.elementor-3793 .elementor-element.elementor-element-70459226 .elementor-heading-title{font-size:30px;}.elementor-3793 .elementor-element.elementor-element-55cf0b4 .elementor-heading-title{font-size:30px;}.elementor-3793 .elementor-element.elementor-element-1e772b5 .elementor-heading-title{font-size:22px;}.elementor-3793 .elementor-element.elementor-element-6dd8250e{--gap:0px 0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-3793 .elementor-element.elementor-element-588c447a{--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-3793 .elementor-element.elementor-element-771b8d16 .elementor-heading-title{font-size:18px;}.elementor-3793 .elementor-element.elementor-element-22068bed{--gap:0px 0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-3793 .elementor-element.elementor-element-61e62c03{--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-3793 .elementor-element.elementor-element-287d7a48 img{width:85%;}.elementor-3793 .elementor-element.elementor-element-287d7a48 > .elementor-widget-container{margin:0px 0px 32px 0px;}.elementor-3793 .elementor-element.elementor-element-4f6c02cd{--margin-top:110px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-3793 .elementor-element.elementor-element-260cae0c .elementor-heading-title{font-size:18px;}.elementor-3793 .elementor-element.elementor-element-260cae0c > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-3793 .elementor-element.elementor-element-5b0e5d1{--gap:0px 0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-3793 .elementor-element.elementor-element-39911f8c{--gap:0px 0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-3793 .elementor-element.elementor-element-689d520c{--margin-top:220px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-3793 .elementor-element.elementor-element-e14a331 .elementor-heading-title{font-size:18px;}.elementor-3793 .elementor-element.elementor-element-15d0120 .elementor-heading-title{font-size:18px;}.elementor-3793 .elementor-element.elementor-element-435c731{--gap:0px 0px;}.elementor-3793 .elementor-element.elementor-element-10873317 .elementor-heading-title{font-size:22px;}.elementor-3793 .elementor-element.elementor-element-1db92640 > .elementor-widget-container{margin:8px 0px 0px 0px;}.elementor-3793 .elementor-element.elementor-element-5be01583 .elementor-heading-title{font-size:22px;}}/* Start custom CSS for html, class: .elementor-element-7e43283 */.elementor-3793 .elementor-element.elementor-element-7e43283 button{
   background: rgb(255,144,0);
background: linear-gradient(0deg, rgba(255,144,0,1) 0%, rgba(255,174,0,1) 100%);
color: #000;
padding: 0;
width: 9rem;
height: 3rem;
font-size: 20px;
font-weight: 600;
box-shadow: 1px 1px 5px 6px rgba(255,144,0,0.12);
-webkit-box-shadow: 1px 1px 5px 6px rgba(255,144,0,0.12);
-moz-box-shadow: 1px 1px 5px 6px rgba(255,144,0,0.12);
}


.elementor-3793 .elementor-element.elementor-element-7e43283 button:hover{
    background: linear-gradient(180deg, rgba(255,144,0,1) 0%, rgba(255,174,0,1) 100%);
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-c0d16ca */.elementor-3793 .elementor-element.elementor-element-c0d16ca table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  

  
.elementor-3793 .elementor-element.elementor-element-c0d16ca   table tr {
    /*background-color: #f8f8f8;*/
    border: 1px solid #ddd;
    padding: .35em;
    font-weight: 500;
      color:  #FFFFFF;
  }
  
.elementor-3793 .elementor-element.elementor-element-c0d16ca   table th,
.elementor-3793 .elementor-element.elementor-element-c0d16ca   table td {
    padding: .625em;
    text-align: center;
    
  }
  
.elementor-3793 .elementor-element.elementor-element-c0d16ca   table th {
    font-size: 1em;
    letter-spacing: .1em;
    text-transform: uppercase;
      font-weight: 600 !important;
  }
  
  @media screen and (max-width: 600px) {
  .elementor-3793 .elementor-element.elementor-element-c0d16ca   table {
      border: 0;
    }
  
 
    
   .elementor-3793 .elementor-element.elementor-element-c0d16ca  table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
  .elementor-3793 .elementor-element.elementor-element-c0d16ca   table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
  .elementor-3793 .elementor-element.elementor-element-c0d16ca   table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 1em;
      text-align: right;
    }
    
 .elementor-3793 .elementor-element.elementor-element-c0d16ca    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      font-weight: 600 !important;
        color:  #FFA200;
    }
    
 .elementor-3793 .elementor-element.elementor-element-c0d16ca    table td:last-child {
      border-bottom: 0;
    }
  }
  
  
  
  
  /* general styling */
.elementor-3793 .elementor-element.elementor-element-c0d16ca   body {
    font-family: "Kumbh sans ", sans-serif;
    line-height: 1.25;
    font-weight: 600 !important;
  
  }/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-bd765ba */.elementor-3793 .elementor-element.elementor-element-bd765ba p{
    margin: 0;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-868bfc7 */.elementor-3793 .elementor-element.elementor-element-868bfc7 table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  

  
.elementor-3793 .elementor-element.elementor-element-868bfc7   table tr {
    /*background-color: #f8f8f8;*/
    border: 1px solid #ddd;
    padding: .35em;
    font-weight: 500;
      color:  #FFFFFF;
  }
  
.elementor-3793 .elementor-element.elementor-element-868bfc7   table th,
.elementor-3793 .elementor-element.elementor-element-868bfc7   table td {
    padding: .625em;
    text-align: center;
    
  }
  
.elementor-3793 .elementor-element.elementor-element-868bfc7   table th {
    font-size: 1em;
    letter-spacing: .1em;
    text-transform: uppercase;
      font-weight: 600 !important;
  }
  
  @media screen and (max-width: 600px) {
  .elementor-3793 .elementor-element.elementor-element-868bfc7   table {
      border: 0;
    }
  
 
    
   .elementor-3793 .elementor-element.elementor-element-868bfc7  table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
  .elementor-3793 .elementor-element.elementor-element-868bfc7   table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
  .elementor-3793 .elementor-element.elementor-element-868bfc7   table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 1em;
      text-align: right;
    }
    
 .elementor-3793 .elementor-element.elementor-element-868bfc7    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      font-weight: 600 !important;
        color:  #FFA200;
    }
    
 .elementor-3793 .elementor-element.elementor-element-868bfc7    table td:last-child {
      border-bottom: 0;
    }
  }
  
  
  
  
  /* general styling */
.elementor-3793 .elementor-element.elementor-element-868bfc7   body {
    font-family: "Kumbh sans ", sans-serif;
    line-height: 1.25;
    font-weight: 600 !important;
  
  }/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-f79e118 */.elementor-3793 .elementor-element.elementor-element-f79e118 table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  

  
.elementor-3793 .elementor-element.elementor-element-f79e118   table tr {
    /*background-color: #f8f8f8;*/
    border: 1px solid #ddd;
    padding: .35em;
    font-weight: 500;
      color:  #FFFFFF;
  }
  
.elementor-3793 .elementor-element.elementor-element-f79e118   table th,
.elementor-3793 .elementor-element.elementor-element-f79e118   table td {
    padding: .625em;
    text-align: center;
    
  }
  
.elementor-3793 .elementor-element.elementor-element-f79e118   table th {
    font-size: 1em;
    letter-spacing: .1em;
    text-transform: uppercase;
      font-weight: 600 !important;
  }
  
  @media screen and (max-width: 600px) {
  .elementor-3793 .elementor-element.elementor-element-f79e118   table {
      border: 0;
    }
  
 
    
   .elementor-3793 .elementor-element.elementor-element-f79e118  table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
  .elementor-3793 .elementor-element.elementor-element-f79e118   table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
  .elementor-3793 .elementor-element.elementor-element-f79e118   table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 1em;
      text-align: right;
    }
    
 .elementor-3793 .elementor-element.elementor-element-f79e118    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      font-weight: 600 !important;
        color:  #FFA200;
    }
    
 .elementor-3793 .elementor-element.elementor-element-f79e118    table td:last-child {
      border-bottom: 0;
    }
  }
  
  
  
  
  /* general styling */
.elementor-3793 .elementor-element.elementor-element-f79e118   body {
    font-family: "Kumbh sans ", sans-serif;
    line-height: 1.25;
    font-weight: 600 !important;
  
  }/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-cd70cce */.elementor-3793 .elementor-element.elementor-element-cd70cce table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  

  
.elementor-3793 .elementor-element.elementor-element-cd70cce   table tr {
    /*background-color: #f8f8f8;*/
    border: 1px solid #ddd;
    padding: .35em;
    font-weight: 500;
      color:  #FFFFFF;
  }
  
.elementor-3793 .elementor-element.elementor-element-cd70cce   table th,
.elementor-3793 .elementor-element.elementor-element-cd70cce   table td {
    padding: .625em;
    text-align: center;
    
  }
  
.elementor-3793 .elementor-element.elementor-element-cd70cce   table th {
    font-size: 1em;
    letter-spacing: .1em;
    text-transform: uppercase;
      font-weight: 600 !important;
  }
  
  @media screen and (max-width: 600px) {
  .elementor-3793 .elementor-element.elementor-element-cd70cce   table {
      border: 0;
    }
  
 
    
   .elementor-3793 .elementor-element.elementor-element-cd70cce  table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
  .elementor-3793 .elementor-element.elementor-element-cd70cce   table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
  .elementor-3793 .elementor-element.elementor-element-cd70cce   table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 1em;
      text-align: right;
    }
    
 .elementor-3793 .elementor-element.elementor-element-cd70cce    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      font-weight: 600 !important;
        color:  #FFA200;
    }
    
 .elementor-3793 .elementor-element.elementor-element-cd70cce    table td:last-child {
      border-bottom: 0;
    }
  }
  
  
  
  
  /* general styling */
.elementor-3793 .elementor-element.elementor-element-cd70cce   body {
    font-family: "Kumbh sans ", sans-serif;
    line-height: 1.25;
    font-weight: 600 !important;
  
  }/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-de73a6b */.elementor-3793 .elementor-element.elementor-element-de73a6b table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  

  

  
.elementor-3793 .elementor-element.elementor-element-de73a6b   table tr {
    /*background-color: #f8f8f8;*/
    border: 1px solid #ddd;
    padding: .35em;
    font-weight: 500;
      color:  #FFFFFF;
  }
  
.elementor-3793 .elementor-element.elementor-element-de73a6b   table th,
.elementor-3793 .elementor-element.elementor-element-de73a6b   table td {
    padding: .625em;
    text-align: center;
    
  }
  
.elementor-3793 .elementor-element.elementor-element-de73a6b   table th {
    font-size: 1em;
    letter-spacing: .1em;
    text-transform: uppercase;
      font-weight: 600 !important;
  }
  
  @media screen and (max-width: 600px) {
  .elementor-3793 .elementor-element.elementor-element-de73a6b   table {
      border: 0;
    }
  
  .elementor-3793 .elementor-element.elementor-element-de73a6b .img-data-label {
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 20px; 
}

  .elementor-3793 .elementor-element.elementor-element-de73a6b .data-label1 {
  background-image: url('../../2024/04/symbol_05.html');
  
}

  .elementor-3793 .elementor-element.elementor-element-de73a6b .data-label2 {
  background-image: url('../../2024/04/symbol_06.html');
  
}

.elementor-3793 .elementor-element.elementor-element-de73a6b .data-label3 {
  background-image: url('../../2024/04/symbol_07.html');
  
}

.elementor-3793 .elementor-element.elementor-element-de73a6b .data-label4 {
  background-image: url('../../2024/04/symbol_08.html');
  
}
 
 
    
   .elementor-3793 .elementor-element.elementor-element-de73a6b  table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
  .elementor-3793 .elementor-element.elementor-element-de73a6b   table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
  .elementor-3793 .elementor-element.elementor-element-de73a6b   table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 1em;
      text-align: right;
    }
    
 .elementor-3793 .elementor-element.elementor-element-de73a6b    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      font-weight: 600 !important;
        color:  #FFA200;
    }
    
 .elementor-3793 .elementor-element.elementor-element-de73a6b    table td:last-child {
      border-bottom: 0;
    }
  }
  
  
  
  
  /* general styling */
.elementor-3793 .elementor-element.elementor-element-de73a6b   body {
    font-family: "Kumbh sans ", sans-serif;
    line-height: 1.25;
    font-weight: 600 !important;
  
  }/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-31d04ae */.elementor-3793 .elementor-element.elementor-element-31d04ae table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  

  
.elementor-3793 .elementor-element.elementor-element-31d04ae   table tr {
    /*background-color: #f8f8f8;*/
    border: 1px solid #ddd;
    padding: .35em;
    font-weight: 500;
      color:  #FFFFFF;
  }
  
.elementor-3793 .elementor-element.elementor-element-31d04ae   table th,
.elementor-3793 .elementor-element.elementor-element-31d04ae   table td {
    padding: .625em;
    text-align: center;
    
  }
  
.elementor-3793 .elementor-element.elementor-element-31d04ae   table th {
    font-size: 1em;
    letter-spacing: .1em;
    text-transform: uppercase;
      font-weight: 600 !important;
  }
  
  @media screen and (max-width: 600px) {
  .elementor-3793 .elementor-element.elementor-element-31d04ae   table {
      border: 0;
    }
  
  
  
    .elementor-3793 .elementor-element.elementor-element-31d04ae .img-data-label {
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 20px; 
}

  .elementor-3793 .elementor-element.elementor-element-31d04ae .data-label1 {
  background-image: url('../../2024/04/symbol_00.html');
  
}

  .elementor-3793 .elementor-element.elementor-element-31d04ae .data-label2 {
  background-image: url('../../2024/04/symbol_01.html');
  
}

.elementor-3793 .elementor-element.elementor-element-31d04ae .data-label3 {
  background-image: url('../../2024/04/symbol_02.html');
  
}

.elementor-3793 .elementor-element.elementor-element-31d04ae .data-label4 {
  background-image: url('../../2024/04/symbol_03.html');
  
}

.elementor-3793 .elementor-element.elementor-element-31d04ae .data-label5 {
  background-image: url('../../2024/04/symbol_04.html');
  
}
 
    
   .elementor-3793 .elementor-element.elementor-element-31d04ae  table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
  .elementor-3793 .elementor-element.elementor-element-31d04ae   table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
  .elementor-3793 .elementor-element.elementor-element-31d04ae   table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 1em;
      text-align: right;
    }
    
 .elementor-3793 .elementor-element.elementor-element-31d04ae    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      font-weight: 600 !important;
        color:  #FFA200;
    }
    
 .elementor-3793 .elementor-element.elementor-element-31d04ae    table td:last-child {
      border-bottom: 0;
    }
  }
  
  
  
  
  /* general styling */
.elementor-3793 .elementor-element.elementor-element-31d04ae   body {
    font-family: "Kumbh sans ", sans-serif;
    line-height: 1.25;
    font-weight: 600 !important;
  
  }/* End custom CSS */